#include "main.h"
#include <windows.h>

IDR_MENU1 MENU
BEGIN
    POPUP "&Файл"
    BEGIN
        MENUITEM "&Выход", IDM_EXIT
    END
    POPUP "&Справка"
    BEGIN
        MENUITEM "&О программе", IDM_ABOUT
    END
END
